div{
    display: grid;
}
#dv1{
    background-color: hsla(69, 100%, 50%, 0.993);
    width: 100px;     
    height: 100px;
}
#dv2{
    background-color: hsla(69, 100%, 35%, 0.993);
    width: 100px;     
    height: 100px;
 
}
#dv3{
    background-color: hsla(69, 100%, 21%, 0.993);
    width: 100px;     
    height: 100px;
    
}
#dv4{
    background-color: hsla(69, 100%, 12%, 0.993);
    width: 100px;     
    height: 100px;

}
#dv5{
    background-color: hsla(69, 100%, 8%, 0.993);
    width: 100px;     
    height: 100px;
    
}