#fundo {
    width: auto;
    height: auto;
    padding: auto;
    background-image: url(imagens/fantastic-seascape-with-ripples.jpg);
}
ul li a {
    text-decoration: none;
}
.menu li ul { 
    display: none;
    text-decoration: none; 
} 
.menu li:hover ul {
    display: block;
}
