.cor1{ background-color: #ff0000; }
.cor2{ background-color: #00ff00; }
.cor3{ background-color: #0000ff; }
.cor4{ background-color: #ffff00; }
.cor5{ background-color: #808080; }
.cor6{ background-color: #00ff00; }

body{
    background-color: white
    ;

}


/*nao esquecer de alterar na pagina principal
00 minimo
ff maximo

Existem 16 caracteres ou dígitos que você pode utilizar para caracterizar essas cores (por isso se chama "hexadecimal" . Esses caracteres são os números de 0 a 9 e as letras de A até F. (W3SCHOOLS, ONLINE). Você deve utilizar esses valores aos pares para definir a luminescência de cada cor na mistura que você quer fazer. A escala fica dessa forma:

### **0 1 2 3 4 5 6 7 8 9 A B C D E F**

Sendo assim, entende-se que quanto mais próximo do "0", menos luz será emitida pelos pixels que estiverem marcados com essa cor.

### Exemplo de cores:

#FF0000 - Vermelha
#00FF00 - Verde
#0000FF - Azul
#000000 - Preto
#FFFFFF - Branco

*/
